<div id="index-container">
  <h1>ember-cli-aframe</h1>
  <h3>Examples</h3>
  {{#link-to 'hello-world'}}
    Hello World
  {{/link-to}}
  {{#link-to 'advanced-example'}}
    Advanced Example
  {{/link-to}}
</div>